@import '../assets/foundation-sites/settings';


.overall-container {
    text-align: "center";
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Place default top/bottom padding to separate elements.
    Could actually use :not(:first-child) selector, but that is not supported in legacy browsers.*/
.overall-container > * {
    padding-top: 1em;   // Applies to every child element of the overall container
}
.overall-container:first-child {
    padding-top: 0; // Applies only to teh first child of the overall container
}

.main-content {
    height: 100%;
}

.top-bar h1 {
    font-size: x-large;
    color: get-color(primary);
    font-weight: bold;
}

.top-bar input {
    /* Customize the default Foundation styling. */
    margin-right: 0;
    max-width: 150px;
}

.top-bar label {
    font-size: large;
}

label {
    /* Remove Foundation styling so that labels will not use the color fills. */
    background-color: transparent;
    color: $body-font-color;
}

.inline {
    /* Set uniform line-heights for inline Foundation styling. */
    line-height: 1;
}



.pill-shape {
    /* Perfect pill shape occurs when radius settings are too high, as they're forced to round
        within bounds regardless of width/height. */
    -webkit-border-radius: 100vh;
    -moz-border-radius: 100vh;
    border-radius: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-padding > * {
    margin-right: .5em;
    margin-left: .5em;
}

.flex-space-even {
    justify-content: space-evenly;
}