<div name="OverallContainer" class="overall-container">

  <div name="TopBar" class="top-bar">
    <div class="flex-row flex-wrap">
      <div name="MenuBase" >
        <ul class="menu flex-row flex-row-padding">
          <li><h1>{{ title }}</h1></li>
        </ul>
      </div>
      <!-- TODO: Return to styling - Improve label, expand Name textbox when room allows & reduce min width for tiny screens. -->
      <div name="LoginItems">
        <ul class="menu flex-row flex-row-padding">
          <li><label id="loginInputLabel" for="loginInput" class="inline">Name</label></li>
          <li><input id="loginInput" aria-labelledby="loginInputLabel" type="text" placeholder="Name" class="input inline"/></li>
          <li><button id="loginButton" type="submit" class="button small inline">Login</button></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- TODO: These should toggle between searching ComicVine or the user's own collection.-->
  <div name="NavToggles" id="navTogglesDiv" class="flex-row flex-space-even">
    <button class="hollow button pill-shape">My Collection</button>
    <button class="button pill-shape">ComicVine Search</button>
  </div>

  <div name="MainContent" class="main-content">
    <div *ngFor="let user of testUsers">
      {{user.name}}
    </div>
    <comicVine-search [connectionInfo]="connectionInfo"></comicVine-search>
  </div>

</div>